<!-- 评论 -->
<div id="post-comment" class="panel panel-default">
    <div class="panel-body">
      <div id="container"></div>
      <link href="https://jjeejj.github.io/css/gitment.css" rel="stylesheet">
      <script src="https://jjeejj.github.io/js/gitment.js"></script>
      <script>
        var gitment = new Gitment({
          id: '{{page.id}}',
          owner: '{{site.title}}',
          repo: '{{site.title}}',
          oauth: {
            client_id: '{{site.clientid}}',
            client_secret: '{{site.clientsecret}}',
          },
        });
        gitment.render('container');
      </script>
    </div>
</div>